In [1]:
CREATE TABLE EmployeeDemographics (
EmployeeID int,
FirstaName varchar(50),
LastName varchar(50),
Age int,
Gender varchar(50)
)

In [2]:
CREATE TABLE EmployeeSalary (
EmployeeID int,
JobTitle varchar(50),
Salary int
)

In [3]:
Insert into EmployeeDemographics VALUES
(1001, 'Jim', 'Halpert', 30, 'Male'),
(1002, 'Pam', 'Beasley', 30, 'Female'),
(1003, 'Dwight', 'Schrute', 29, 'Male'),
(1004, 'Angela', 'Martin', 31, 'Female'),
(1005, 'Toby', 'Flenderson', 32, 'Male'),
(1006, 'Michael', 'Scott', 35, 'Male'),
(1007, 'Meredith', 'Palmer', 32, 'Female'),
(1008, 'Stanley', 'Hudson', 38, 'Male'),
(1009, 'Kevin', 'Malone', 31, 'Male')

In [4]:
Insert Into EmployeeSalary VALUES
(1001, 'Salesman', 45000),
(1002, 'Receptionist', 36000),
(1003, 'Salesman', 63000),
(1004, 'Accountant', 47000),
(1005, 'HR', 50000),
(1006, 'Regional Manager', 65000),
(1007, 'Supplier Relations', 41000),
(1008, 'Salesman', 48000),
(1009, 'Accountant', 42000)

In [5]:
SELECT *
FROM SQLTutorial.dbo.EmployeeSalary

EmployeeID,JobTitle,Salary
1001,Salesman,45000
1002,Receptionist,36000
1003,Salesman,63000
1004,Accountant,47000
1005,HR,50000
1006,Regional Manager,65000
1007,Supplier Relations,41000
1008,Salesman,48000
1009,Accountant,42000

In [6]:
SELECT *
FROM EmployeeDemographics 
WHERE Age BETWEEN 21 AND 30

EmployeeID,FirstaName,LastName,Age,Gender
1001,Jim,Halpert,30,Male
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male

In [9]:
SELECT EmployeeID, Salary 
FROM EmployeeSalary
WHERE Salary > (SELECT AVG(Salary) FROM EmployeeSalary)

EmployeeID,Salary
1003,63000
1005,50000
1006,65000

In [6]:
SELECT Gender, COUNT(EmployeeID) as Total
FROM EmployeeDemographics
GROUP BY Gender
ORDER BY Total DESC

Gender,Total
Male,6
Female,3

In [5]:
SELECT Gender, Age, COUNT(EmployeeID) as Total
FROM EmployeeDemographics
GROUP BY Gender, Age

Gender,Age,Total
Male,29,1
Female,30,1
Male,30,1
Female,31,1
Male,31,1
Female,32,1
Male,32,1
Male,35,1
Male,38,1

In [10]:
SELECT *
FROM EmployeeDemographics
ORDER BY Age DESC, Gender DESC

EmployeeID,FirstaName,LastName,Age,Gender
1008,Stanley,Hudson,38,Male
1006,Michael,Scott,35,Male
1005,Toby,Flenderson,32,Male
1007,Meredith,Palmer,32,Female
1009,Kevin,Malone,31,Male
1004,Angela,Martin,31,Female
1001,Jim,Halpert,30,Male
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male

In [11]:
SELECT *
FROM EmployeeDemographics
ORDER BY 4 DESC, 5 DESC

EmployeeID,FirstaName,LastName,Age,Gender
1008,Stanley,Hudson,38,Male
1006,Michael,Scott,35,Male
1005,Toby,Flenderson,32,Male
1007,Meredith,Palmer,32,Female
1009,Kevin,Malone,31,Male
1004,Angela,Martin,31,Female
1001,Jim,Halpert,30,Male
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male

# **Join**

In [1]:
SELECT *
FROM SQLTutorial.dbo.EmployeeDemographics t1
INNER JOIN SQLTutorial.dbo.EmployeeSalary t2
ON t1.EmployeeID = t2.EmployeeID

EmployeeID,FirstaName,LastName,Age,Gender,EmployeeID,JobTitle,Salary
1001,Jim,Halpert,30,Male,1001,Salesman,45000
1002,Pam,Beasley,30,Female,1002,Receptionist,36000
1003,Dwight,Schrute,29,Male,1003,Salesman,63000
1004,Angela,Martin,31,Female,1004,Accountant,47000
1005,Toby,Flenderson,32,Male,1005,HR,50000
1006,Michael,Scott,35,Male,1006,Regional Manager,65000
1007,Meredith,Palmer,32,Female,1007,Supplier Relations,41000
1008,Stanley,Hudson,38,Male,1008,Salesman,48000
1009,Kevin,Malone,31,Male,1009,Accountant,42000

In [2]:
SELECT *
FROM SQLTutorial.dbo.EmployeeDemographics t1
FULL OUTER JOIN SQLTutorial.dbo.EmployeeSalary t2
ON t1.EmployeeID = t2.EmployeeID

EmployeeID,FirstaName,LastName,Age,Gender,EmployeeID,JobTitle,Salary
1001,Jim,Halpert,30,Male,1001,Salesman,45000
1002,Pam,Beasley,30,Female,1002,Receptionist,36000
1003,Dwight,Schrute,29,Male,1003,Salesman,63000
1004,Angela,Martin,31,Female,1004,Accountant,47000
1005,Toby,Flenderson,32,Male,1005,HR,50000
1006,Michael,Scott,35,Male,1006,Regional Manager,65000
1007,Meredith,Palmer,32,Female,1007,Supplier Relations,41000
1008,Stanley,Hudson,38,Male,1008,Salesman,48000
1009,Kevin,Malone,31,Male,1009,Accountant,42000
1011,Ryan,Howard,26,Male,NULL,NULL,NULL
1012,Holly,Flax,31,Female,NULL,NULL,NULL
1013,Darryl,Philbin,NULL,Male,NULL,NULL,NULL

In [3]:
SELECT *
FROM SQLTutorial.dbo.EmployeeDemographics t1
LEFT JOIN SQLTutorial.dbo.EmployeeSalary t2
ON t1.EmployeeID = t2.EmployeeID

EmployeeID,FirstaName,LastName,Age,Gender,EmployeeID,JobTitle,Salary
1001,Jim,Halpert,30,Male,1001,Salesman,45000
1002,Pam,Beasley,30,Female,1002,Receptionist,36000
1003,Dwight,Schrute,29,Male,1003,Salesman,63000
1004,Angela,Martin,31,Female,1004,Accountant,47000
1005,Toby,Flenderson,32,Male,1005,HR,50000
1006,Michael,Scott,35,Male,1006,Regional Manager,65000
1007,Meredith,Palmer,32,Female,1007,Supplier Relations,41000
1008,Stanley,Hudson,38,Male,1008,Salesman,48000
1009,Kevin,Malone,31,Male,1009,Accountant,42000
1011,Ryan,Howard,26,Male,NULL,NULL,NULL
1012,Holly,Flax,31,Female,NULL,NULL,NULL
1013,Darryl,Philbin,NULL,Male,NULL,NULL,NULL

In [18]:
SELECT t1.EmployeeID, FirstaName, LastName, JobTitle, Salary
FROM SQLTutorial.dbo.EmployeeDemographics t1
INNER JOIN SQLTutorial.dbo.EmployeeSalary t2
ON t1.EmployeeID = t2.EmployeeID
ORDER BY Salary DESC

EmployeeID,FirstaName,LastName,JobTitle,Salary
1006,Michael,Scott,Regional Manager,65000
1003,Dwight,Schrute,Salesman,63000
1005,Toby,Flenderson,HR,50000
1008,Stanley,Hudson,Salesman,48000
1004,Angela,Martin,Accountant,47000
1001,Jim,Halpert,Salesman,45000
1009,Kevin,Malone,Accountant,42000
1007,Meredith,Palmer,Supplier Relations,41000
1002,Pam,Beasley,Receptionist,36000

In [23]:
SELECT JobTitle, AVG(Salary) Average_Salary
FROM SQLTutorial.dbo.EmployeeDemographics t1
INNER JOIN SQLTutorial.dbo.EmployeeSalary t2
ON t1.EmployeeID = t2.EmployeeID
GROUP BY JobTitle

JobTitle,Average_Salary
Accountant,44500
HR,50000
Receptionist,36000
Regional Manager,65000
Salesman,52000
Supplier Relations,41000

In [38]:
SELECT JobTitle, AVG(Salary) Average_Salary
FROM SQLTutorial.dbo.EmployeeDemographics t1
INNER JOIN SQLTutorial.dbo.EmployeeSalary t2
ON t1.EmployeeID = t2.EmployeeID
GROUP BY JobTitle

JobTitle,Average_Salary
Accountant,44500
HR,50000
Receptionist,36000
Regional Manager,65000
Salesman,52000
Supplier Relations,41000

# **Union**

In [25]:
Insert into EmployeeDemographics VALUES
(1011, 'Ryan', 'Howard', 26, 'Male'),
(NULL, 'Holly', 'Flax', NULL, NULL),
(1013, 'Darryl', 'Philbin', NULL, 'Male')

In [26]:
Create Table WareHouseEmployeeDemographics 
(EmployeeID int, 
FirstName varchar(50), 
LastName varchar(50), 
Age int, 
Gender varchar(50)
)

In [27]:
Insert into WareHouseEmployeeDemographics VALUES
(1013, 'Darryl', 'Philbin', NULL, 'Male'),
(1050, 'Roy', 'Anderson', 31, 'Male'),
(1051, 'Hidetoshi', 'Hasagawa', 40, 'Male'),
(1052, 'Val', 'Johnson', 31, 'Female')

In [30]:
SELECT *
FROM EmployeeDemographics
UNION
SELECT *
FROM WareHouseEmployeeDemographics
ORDER BY EmployeeID

EmployeeID,FirstaName,LastName,Age,Gender
NULL,Holly,Flax,NULL,NULL
1001,Jim,Halpert,30,Male
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1005,Toby,Flenderson,32,Male
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male
1011,Ryan,Howard,26,Male
1013,Darryl,Philbin,NULL,Male
1050,Roy,Anderson,31,Male
1051,Hidetoshi,Hasagawa,40,Male
1052,Val,Johnson,31,Female

In [33]:
SELECT EmployeeID, FirstaName, Age
FROM EmployeeDemographics
UNION
SELECT EmployeeID, JobTitle, Salary
FROM EmployeeSalary
ORDER BY EmployeeID

EmployeeID,FirstaName,Age
NULL,Holly,NULL
1001,Jim,30
1001,Salesman,45000
1002,Pam,30
1002,Receptionist,36000
1003,Dwight,29
1003,Salesman,63000
1004,Accountant,47000
1004,Angela,31
1005,HR,50000
1005,Toby,32
1006,Michael,35
1006,Regional Manager,65000
1007,Meredith,32
1007,Supplier Relations,41000
1008,Salesman,48000
1008,Stanley,38
1009,Accountant,42000
1009,Kevin,31
1011,Ryan,26
1013,Darryl,NULL

# **Case Statement**

In [41]:
SELECT EmployeeID, LastName, Age,
    CASE
        WHEN Age > 30 THEN 'Old'
        WHEN Age BETWEEN 27 AND 30 THEN 'Adult'
        ELSE 'Young'
    END AS AgeCategory
FROM EmployeeDemographics
WHERE Age IS NOT NULL
ORDER BY Age

EmployeeID,LastName,Age,AgeCategory
1011,Howard,26,Young
1003,Schrute,29,Adult
1001,Halpert,30,Adult
1002,Beasley,30,Adult
1004,Martin,31,Old
1009,Malone,31,Old
1005,Flenderson,32,Old
1007,Palmer,32,Old
1006,Scott,35,Old
1008,Hudson,38,Old

In [45]:
SELECT FirstaName, LastName, JobTitle, Salary,
    CASE 
        WHEN JobTitle = 'Salesman' THEN Salary + (Salary * 0.10)
        WHEN JobTitle = 'Account' THEN Salary + (Salary * 0.05)
        WHEN JobTitle = 'HR' THEN Salary + (Salary * 0.00001)
        ELSE Salary + (Salary * 0.03)
    END AS Salary_Hike
FROM SQLTutorial.dbo.EmployeeDemographics t1
INNER JOIN SQLTutorial.dbo.EmployeeSalary t2
ON t1.EmployeeID = t2.EmployeeID

FirstaName,LastName,JobTitle,Salary,Salary_Hike
Jim,Halpert,Salesman,45000,49500.00000
Pam,Beasley,Receptionist,36000,37080.00000
Dwight,Schrute,Salesman,63000,69300.00000
Angela,Martin,Accountant,47000,48410.00000
Toby,Flenderson,HR,50000,50000.50000
Michael,Scott,Regional Manager,65000,66950.00000
Meredith,Palmer,Supplier Relations,41000,42230.00000
Stanley,Hudson,Salesman,48000,52800.00000
Kevin,Malone,Accountant,42000,43260.00000

# **Having Clause**

In [54]:
SELECT JobTitle, AVG(Salary) AS Average_Salary
FROM SQLTutorial.dbo.EmployeeDemographics t1
INNER JOIN SQLTutorial.dbo.EmployeeSalary t2
ON t1.EmployeeID = t2.EmployeeID
GROUP BY JobTitle
HAVING AVG(Salary) > 45000
ORDER BY AVG(Salary)

JobTitle,Average_Salary
HR,50000
Salesman,52000
Regional Manager,65000

# **Updating/Deleting Data**

In [55]:
SELECT *
FROM EmployeeDemographics

EmployeeID,FirstaName,LastName,Age,Gender
1001,Jim,Halpert,30,Male
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1005,Toby,Flenderson,32,Male
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male
1011,Ryan,Howard,26,Male
NULL,Holly,Flax,NULL,NULL
1013,Darryl,Philbin,NULL,Male

In [56]:
UPDATE EmployeeDemographics
SET EmployeeID = 1012
WHERE FirstaName LIKE 'Holly' AND LastName LIKE 'Flax'

In [58]:
UPDATE EmployeeDemographics
SET Age = 31, Gender = 'Female'
WHERE FirstaName LIKE 'Holly' AND LastName LIKE 'Flax'

In [59]:
SELECT * 
FROM EmployeeDemographics

EmployeeID,FirstaName,LastName,Age,Gender
1001,Jim,Halpert,30,Male
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1005,Toby,Flenderson,32,Male
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male
1011,Ryan,Howard,26,Male
1012,Holly,Flax,31,Female
1013,Darryl,Philbin,NULL,Male

In [ ]:
DELETE FROM EmployeeDemographics
WHERE EmployeeID = 1005

# **Aliasing**

In [62]:
SELECT FirstaName + ' ' + LastName AS Full_Name
FROM [SQLTutorial].[dbo].[EmployeeDemographics]

Full_Name
Jim Halpert
Pam Beasley
Dwight Schrute
Angela Martin
Toby Flenderson
Michael Scott
Meredith Palmer
Stanley Hudson
Kevin Malone
Ryan Howard
Holly Flax
Darryl Philbin

In [63]:
SELECT AVG(Age) as Avg_Age
FROM [SQLTutorial].[dbo].[EmployeeDemographics]

Avg_Age
31

In [64]:
SELECT Demo.EmployeeID
FROM [SQLTutorial].[dbo].[EmployeeDemographics] AS Demo

EmployeeID
1001
1002
1003
1004
1005
1006
1007
1008
1009
1011
1012
1013

In [65]:
SELECT * 
FROM WareHouseEmployeeDemographics

EmployeeID,FirstName,LastName,Age,Gender
1013,Darryl,Philbin,NULL,Male
1050,Roy,Anderson,31,Male
1051,Hidetoshi,Hasagawa,40,Male
1052,Val,Johnson,31,Female

In [68]:
SELECT Demo.EmployeeID, Demo.FirstaName, Demo.LastName, Sal.JobTitle, Demo.Age
FROM [SQLTutorial].[dbo].[EmployeeDemographics] AS Demo
LEFT JOIN [SQLTutorial].[dbo].[EmployeeSalary] AS Sal
ON Demo.EmployeeID = Sal.EmployeeID
LEFT JOIN [SQLTutorial].[dbo].[WareHouseEmployeeDemographics] AS Ware
ON Demo.EmployeeID = Ware.EmployeeID

EmployeeID,FirstaName,LastName,JobTitle,Age
1001,Jim,Halpert,Salesman,30
1002,Pam,Beasley,Receptionist,30
1003,Dwight,Schrute,Salesman,29
1004,Angela,Martin,Accountant,31
1005,Toby,Flenderson,HR,32
1006,Michael,Scott,Regional Manager,35
1007,Meredith,Palmer,Supplier Relations,32
1008,Stanley,Hudson,Salesman,38
1009,Kevin,Malone,Accountant,31
1011,Ryan,Howard,NULL,26
1012,Holly,Flax,NULL,31
1013,Darryl,Philbin,NULL,NULL

# **Partition By**

In [6]:
SELECT FirstaName, LastName, Gender, Salary,
COUNT(Gender) OVER (PARTITION BY Gender) AS TotalGender
FROM [SQLTutorial].[dbo].[EmployeeDemographics] AS dem
JOIN [SQLTutorial].[dbo].[EmployeeSalary] as sal
ON dem.EmployeeID = sal.EmployeeID

FirstaName,LastName,Gender,Salary,TotalGender
Pam,Beasley,Female,36000,3
Angela,Martin,Female,47000,3
Meredith,Palmer,Female,41000,3
Jim,Halpert,Male,45000,6
Stanley,Hudson,Male,48000,6
Kevin,Malone,Male,42000,6
Toby,Flenderson,Male,50000,6
Michael,Scott,Male,65000,6
Dwight,Schrute,Male,63000,6

# **CTEs**

In [12]:
WITH CTE_Employee AS (
    SELECT FirstaName, LastName, Gender, Salary,
    COUNT(Gender) OVER (PARTITION BY Gender) AS TotalGender,
    AVG(Salary) OVER (PARTITION BY Gender) AS Avg_Salary
    FROM [SQLTutorial].[dbo].[EmployeeDemographics] AS dem
    JOIN [SQLTutorial].[dbo].[EmployeeSalary] as sal
    ON dem.EmployeeID = sal.EmployeeID 
)
SELECT *
FROM CTE_Employee

FirstaName,LastName,Gender,Salary,TotalGender,Avg_Salary
Pam,Beasley,Female,36000,3,41333
Angela,Martin,Female,47000,3,41333
Meredith,Palmer,Female,41000,3,41333
Jim,Halpert,Male,45000,6,52166
Stanley,Hudson,Male,48000,6,52166
Kevin,Malone,Male,42000,6,52166
Toby,Flenderson,Male,50000,6,52166
Michael,Scott,Male,65000,6,52166
Dwight,Schrute,Male,63000,6,52166

# **Temp Tables**

In [13]:
CREATE TABLE #temp_Employee (
    EmployeeID INT, 
    JobTitle VARCHAR(100),
    Salary INT
)

In [16]:
SELECT *
from #temp_Employee

In [17]:
INSERT INTO #temp_Employee VALUES (
    '1001', 'HR', 45000
)

In [18]:
SELECT *
from #temp_Employee

EmployeeID,JobTitle,Salary
1001,HR,45000

In [20]:
INSERT INTO #temp_Employee
SELECT *
FROM [SQLTutorial].[dbo].[EmployeeSalary]

In [21]:
SELECT *
from #temp_Employee

EmployeeID,JobTitle,Salary
1001,HR,45000
1001,Salesman,45000
1002,Receptionist,36000
1003,Salesman,63000
1004,Accountant,47000
1005,HR,50000
1006,Regional Manager,65000
1007,Supplier Relations,41000
1008,Salesman,48000
1009,Accountant,42000

In [22]:
Create table #Temp_Employee2 (
JobTitle varchar(50),
EmployeesPerJob int ,
AvgAge int,
AvgSalary int
)

In [23]:
DROP TABLE IF EXISTS #Temp_Employee2
INSERT INTO #Temp_Employee2
SELECT JobTitle, COUNT(JobTitle), AVG(Age), AVG(Salary)
FROM [SQLTutorial].[dbo].[EmployeeDemographics] emp
JOIN [SQLTutorial].[dbo].[EmployeeSalary] sal
ON emp.EmployeeID = sal.EmployeeID
GROUP BY JobTitle

In [24]:
SELECT *
FROM #Temp_Employee2

JobTitle,EmployeesPerJob,AvgAge,AvgSalary
Accountant,2,31,44500
HR,1,32,50000
Receptionist,1,30,36000
Regional Manager,1,35,65000
Salesman,3,32,52000
Supplier Relations,1,32,41000

# **String Functions**

In [25]:
CREATE TABLE EmployeeErrors (
EmployeeID varchar(50)
,FirstName varchar(50)
,LastName varchar(50)
)

In [26]:
Insert into EmployeeErrors Values 
('1001  ', 'Jimbo', 'Halbert')
,('  1002', 'Pamela', 'Beasely')
,('1005', 'TOby', 'Flenderson - Fired')

In [27]:
Select *
From EmployeeErrors

EmployeeID,FirstName,LastName
1001,Jimbo,Halbert
1002,Pamela,Beasely
1005,TOby,Flenderson - Fired

In [31]:
-- Using Trim, LTRIM, RTRIM

SELECT EmployeeID, TRIM(EmployeeID) AS IDTRIM
FROM EmployeeErrors

SELECT EmployeeID, LTRIM(EmployeeID) AS IDTRIM
FROM EmployeeErrors

SELECT EmployeeID, RTRIM(EmployeeID) AS IDTRIM
FROM EmployeeErrors

EmployeeID,IDTRIM
1001,1001
1002,1002
1005,1005

EmployeeID,IDTRIM
1001,1001
1002,1002
1005,1005

EmployeeID,IDTRIM
1001,1001
1002,1002
1005,1005

In [32]:
-- Using Replace

SELECT LastName, REPLACE(LastName, '- Fired', '')
FROM EmployeeErrors

LastName,(No column name)
Halbert,Halbert
Beasely,Beasely
Flenderson - Fired,Flenderson

In [33]:
-- Using SubString

SELECT FirstName, SUBSTRING(FirstName, 1, 3) as sub_String
FROM EmployeeErrors

FirstName,sub_String
Jimbo,Jim
Pamela,Pam
TOby,TOb

In [35]:
Select Substring(err.FirstName,1,3), Substring(dem.FirstaName,1,3), Substring(err.LastName,1,3), Substring(dem.LastName,1,3)
FROM EmployeeErrors err
JOIN EmployeeDemographics dem
	on Substring(err.FirstName,1,3) = Substring(dem.FirstaName,1,3)
	and Substring(err.LastName,1,3) = Substring(dem.LastName,1,3)

(No column name),(No column name),(No column name),(No column name)
Jim,Jim,Hal,Hal
Pam,Pam,Bea,Bea
TOb,Tob,Fle,Fle

In [36]:
SELECT FirstName, LOWER(FirstName)
FROM EmployeeErrors

FirstName,(No column name)
Jimbo,jimbo
Pamela,pamela
TOby,toby

In [37]:
SELECT FirstName, UPPER(FirstName)
FROM EmployeeErrors

FirstName,(No column name)
Jimbo,JIMBO
Pamela,PAMELA
TOby,TOBY

# **Stored Procedures**

In [39]:
CREATE PROCEDURE TEST 
AS
SELECT *
FROM EmployeeDemographics

In [40]:
EXEC TEST

EmployeeID,FirstaName,LastName,Age,Gender
1001,Jim,Halpert,30,Male
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1005,Toby,Flenderson,32,Male
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male
1011,Ryan,Howard,26,Male
1012,Holly,Flax,31,Female
1013,Darryl,Philbin,NULL,Male

In [43]:
CREATE PROCEDURE Temp_Employees 
AS

Create table #temp_employee4 (
JobTitle varchar(50),
EmployeesPerJob int ,
AvgAge int,
AvgSalary int
)

INSERT INTO #temp_employee4
SELECT JobTitle, COUNT(JobTitle), AVG(Age), AVG(Salary)
FROM [SQLTutorial].[dbo].[EmployeeDemographics] emp
JOIN [SQLTutorial].[dbo].[EmployeeSalary] sal
ON emp.EmployeeID = sal.EmployeeID
GROUP BY JobTitle


SELECT *
FROM #temp_employee4

In [46]:
EXEC Temp_Employees @JobTitle = 'HR'

JobTitle,EmployeesPerJob,AvgAge,AvgSalary
HR,1,32,50000

# **SubQuery**

In [4]:
SELECT *
FROM EmployeeSalary

EmployeeID,JobTitle,Salary
1001,Salesman,45000
1002,Receptionist,36000
1003,Salesman,63000
1004,Accountant,47000
1005,HR,50000
1006,Regional Manager,65000
1007,Supplier Relations,41000
1008,Salesman,48000
1009,Accountant,42000

In [5]:
SELECT EmployeeID, Salary, (SELECT AVG(Salary) FROM EmployeeSalary) AS Avg_Salary
FROM EmployeeSalary

EmployeeID,Salary,Avg_Salary
1001,45000,48555
1002,36000,48555
1003,63000,48555
1004,47000,48555
1005,50000,48555
1006,65000,48555
1007,41000,48555
1008,48000,48555
1009,42000,48555

In [11]:
SELECT *
FROM (
    SELECT 
        EmployeeID,
        JobTitle, 
        Salary, 
        AVG(Salary) OVER(PARTITION BY JobTitle) AS Avg_Salary 
    FROM EmployeeSalary
) AS SubqueryAlias;

EmployeeID,JobTitle,Salary,Avg_Salary
1004,Accountant,47000,44500
1009,Accountant,42000,44500
1005,HR,50000,50000
1002,Receptionist,36000,36000
1006,Regional Manager,65000,65000
1003,Salesman,63000,52000
1001,Salesman,45000,52000
1008,Salesman,48000,52000
1007,Supplier Relations,41000,41000

In [15]:
SELECT *
FROM EmployeeSalary
WHERE EmployeeID IN
                (
                    SELECT EmployeeID
                    FROM EmployeeDemographics
                    WHERE Age > 30
                )

EmployeeID,JobTitle,Salary
1004,Accountant,47000
1005,HR,50000
1006,Regional Manager,65000
1007,Supplier Relations,41000
1008,Salesman,48000
1009,Accountant,42000